#demo-01 .box-a ,
#demo-01 .box-b .box-c {
        font-size: 16px;
}
#demo-01 .box-b {
    font-size: 32px;
}

#demo-02 .box-a ,
#demo-02 .box-b .box-c {
        font-size: 90%;
}
#demo-02 .box-b {
    font-size: 32px;
}

#demo-03 .box-a ,
#demo-03 .box-b .box-c {
        font-size: 0.9em;
}
#demo-03 .box-b {
    font-size: 32px;
}

#demo-04 .box-a ,
#demo-04 .box-b .box-c {
        font-size: 1.2rem;
}
#demo-04 .box-b {
    font-size: 32px;
}

#demo-05 .box-a ,
#demo-05 .box-b .box-c {
        font-size: 10mm;
}
#demo-05 .box-b {
    font-size: 32px;
}

#demo-06 .box-a ,
#demo-06 .box-b .box-c {
        font-size: 1vw;
}
#demo-06 .box-b {
    font-size: 32px;
}

#demo-07 .box-a ,
#demo-07 .box-b .box-c {
        font-size: 10vmin;
}
#demo-07 .box-b {
    font-size: 32px;
}
